@charset "utf-8";
html {
  font-size: 125%;
}

h1 {
  font-size: 2rem;
  letter-spacing: 1.5rem;
  text-shadow: 3px 3px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}

div {
  font-weight: bold;
}

body {
  font-family: "Arial","Meiryo",sans-serif;
  text-align: center;
}

.google-fonts {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
}


.text-skyblue {
  color: skyblue;
}

.text-pink {
color: rgb(255, 192, 203)
}